<h1>World of Noms</h1>
<p>Create your own list of noms and tells us if they're delicious or not! Go on, don't be shy.</p>

</div>

<p>
  <label for="amount">Maximum price:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider-range-min"></div>

</div>

<a href="#hello" data-toggle="modal" class="btn btn-default">HELLO</a>

<div id="calendar">

<div id="hello" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="hello-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
    aria-hidden="true">&times;</button>
        <h4>Hello Modal</h4>
      </div>
      <div class="modal-body">
        <p>YO YO!</p>
      </div>
    </div>
  </div>
</div>
